apiVersion: v1
kind: Service
metadata:
  name: redpanda
spec:
  ports:
  - port: 9092
    name: client
    targetPort: 9092
  - port: 9644
    name: admin
    targetPort: 9644
  selector:
    app: redpanda
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redpanda
spec:
  serviceName: redpanda
  replicas: 1
  selector:
    matchLabels:
      app: redpanda
  template:
    metadata:
      labels:
        app: redpanda
    spec:
      containers:
      - name: redpanda
        image: docker.redpanda.com/redpandadata/redpanda:v23.3.10
        args:
        - redpanda
        - start
        - --overprovisioned
        - --smp 1
        - --memory 1G
        - --reserve-memory 0M
        - --node-id 0
        - --check=false
        - --kafka-addr PLAINTEXT://0.0.0.0:9092
        - --advertise-kafka-addr PLAINTEXT://redpanda-0.redpanda.default.svc.cluster.local:9092
        ports:
        - containerPort: 9092
          name: client
        - containerPort: 9644
          name: admin
        volumeMounts:
        - name: data
          mountPath: /var/lib/redpanda/data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
